.order{
    border:solid 1px grey;
    position:sticky;
    top:116px;
    /* border-bottom:none; */
    width:35%;
    height:fit-content;
    padding:1em 1em 0 1em;
    transition:all .4s ease-out;
  background:#E8EBEE;

}
.order:hover{
    border-color:black;
   
}
.order h3{
    padding-bottom:1em;
    border-bottom:solid black 1px;
    color:#30281e;
}
.order-bill{
    display:flex;
    justify-content: space-between;
    margin:1em 0 1em 0;
}
.checkout{
    width:100%;
    height:3em;
    font-size:medium;
    border:none;
    margin-bottom:1em;
    color:white;
    letter-spacing: 2px;
    background:rgb(0, 0, 0,0.8);
}
.total{
    font-weight:bolder;
    color:#30281e;
}