

:root{
  --bg_pri : #E8EBEE;
  --bg_org : #db9224;
  --font_pri : #272727;
  --size_sec : clamp(12px, calc(7px + 0.6vw), 16px);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
}
::selection {
  color:whitesmoke;
  background: var(--bg_org);
}
body {
  font-family:'Segoe UI', 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#E9E9E9;
  background:var(--bg_pri);
  scrollbar-width: none;
  overflow: auto;
   
}

body::-webkit-scrollbar {
  display: none;
}


.app_loading{
  min-height:100vh;
  display: grid;
  place-content:center;
  justify-items: center;
  gap:2vw;
}


.app_loading .load_head{
  display: grid;
  justify-items: center;
  overflow: hidden;
}
.app_loading h1 {
  font-size: clamp(16px, calc(2.22vw + 8px), 32px);
  font-weight: 500;
  cursor: pointer;
  letter-spacing:2px;
  text-align:center;
  color: #353b43;
  color: var(--bg_org);
  transition: transform 0.4s ease-out;
}
.app_loading h1 span {
  background: #a8a98e;
  padding:0 5px;
  color: #94a48e;
  color: whitesmoke;
}
.app_loading .head_move{
position:absolute;
top:2%;
left:10%;
animation: slid 0.4s forwards ease-out;
}

@keyframes slid {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

.app_loading img{
  width:40%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.app_loading p{
  letter-spacing: 2px;
  color:grey;
  text-align: center;
}

.app_loading .load_footer{
  position: relative;
  overflow:hidden;
}
.app_loading .load_footer p{
  position: relative;
  font-size:clamp(12px,calc(7px + 0.8vw),16px);
}

.app_loading .load_footer .footer_exit{
  animation: exit 0.4s 0.4s forwards ease-out;
}

@keyframes exit {
  to{
    transform: translateY(-100%);
  }
}
.app_loading .load_footer .p_error {
  top:-100%;
}

.app_loading .load_footer .entry{
  animation: entry forwards 0.4s 0.8s ease-out;
}

@keyframes entry {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(100%);
  }
}


@keyframes ldio-4axryukh3c {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-4axryukh3c div {
  position: absolute;
  animation: ldio-4axryukh3c 1s linear infinite;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 var(--bg_org);
  transform-origin: 40px 41px;
  transform-origin:center;
}
.loadingio-spinner-eclipse-54l7pcgkx2x {
  width: 200px;
  height: 200px;
  display: inline-block;
  width:100%;
  min-height:90vh;
  overflow: hidden;
}
.ldio-4axryukh3c {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */

}
.ldio-4axryukh3c div { box-sizing: content-box; }







/* /*endofspinner */



main{
display:grid;
place-items:center;
 background:var(--bg_pri);
}

 .center{
  text-align:center;
}








