*{
    margin:0;
    padding:0;
    list-style:none;
}

.landing-write{
    display:flex;
    flex-direction:column;
    position: relative;
    gap:15vw;
    width:100%;
}

.cover_img{
    position: absolute;
    height:100%;
    width:100%;
    z-index:1;
    object-fit:cover;
    filter:brightness(50%);
    opacity:1;
    transition: 0.6s;
  }
  .null{
    opacity:0;
  }
  
.container{
    margin:0 auto;
    width:min(100vw,75rem);
    min-height:30vh;
    height:350px;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
}
.nav_container{
    width:100vw;
    z-index: 4;
    position: absolute;
    min-height:100vh;
    display: grid;
    justify-content: center;
    width:100vw;
  }
.img-container{
    position: absolute;
    z-index:1;
    width:100%;
    top:0;
    left:0;
}
.img-container video{
    object-fit:cover;
    z-index:3;
    position: relative;
    width:100%;
    height:500px;
    object-position:10% 80%;
}

@media screen and (max-width:480px){
    .img-container video{
        object-position: 40%;   
    }
}
.btn-group{
    display: flex;
    width:100%;
    justify-content: center;
    gap:5rem;
    gap:clamp(2rem,10vw,5rem);
}


.navhome_open,
.nav_open{
    height:100vh;
    width:100vw;
    place-content: center;
    margin:0 auto;
    overflow: hidden;
    background:grey;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    display: grid;
}

.navhome_open{
    background:#322D20;
}

.shopsold_heading {
    font-size:clamp(42px,5vw,4rem);
    text-align:center;
    position:relative;
    z-index:2;
    color:var(--bg_org);  
    letter-spacing: 2px;

}
h1 span{
    color:whitesmoke;
}
.nav-bar{
    display:flex;
    white-space: nowrap;
    position:absolute;
    justify-content: center;
    top:4vw;
    right:4vw;
}
.div_bar{
    background:#F5F5F5;
    width:100%;
    transform-origin: right;
    height:1px;
    bottom:0;
    left:0;
    position:absolute;
    z-index:2;
}
.btn{
    background:transparent;
    font-size:clamp(0.6rem,calc(7px + 0.7vw),0.8rem);
    border:none;
    color:whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
    z-index:2;
    position: relative;

}

.btn-gender .button{
    border:solid #d2d7dd 2px ;
    border-radius:2px;
    background:transparent;
    width:clamp(7rem,13vw,10rem);
    height:clamp(2rem,3.9vw,3rem);
    font-size:clamp(14px,calc(9px + .9vw),24px);
    font-family:"Segoe UI";
    white-space: nowrap;
    position: relative;
    z-index:3;
    font-weight: 600;
    color:white;
}



.btn-gender{
    text-decoration: none;
}

#header{
    transition:ease-in 0.5s all;
}
.button div{
    background:#d2d7dd;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    transition:ease-in .3s;
}
.btn-gender:hover div{
    z-index:-1;
    width:100%;
}
.btn-gender:hover .button {
    color:#353b43;
    transition-delay: .2s;
    
}

.cursor,li{
    cursor:pointer;
}
